@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
   font-family: 'Figtree';
   background-color: #FEFEFE;
   margin-top: 10px;
   margin-left: 20px;
   margin-bottom: 10px;
   margin-right: 20px;

}


.image-container {
   width: 100%;
   height: 100%;
   margin-bottom: 50px;
   margin-top: 50px;
   margin: 0 auto;
   display: block;
}


.container {
   width: 45%;
   height: 250px;
   margin: 0 auto;
   padding: 20px;
   background-color: #FEFEFE;
   text-align: center;
   text-justify: auto;

}


.container-fluid {
   font-family: 'Figtree';
   margin-top: 10px;
   margin-left: 20px;
   margin-bottom: 10px;
   text-align: center;
}


h1 {
   font-family: 'Prompt';
   text-align: center;
   letter-spacing: 2px;
   font-weight: 500;


}


h2 {
   font-family: 'Figtree';
   text-align: center;


}

h3 {
   text-align: left;
   margin: 0 auto;
   width: 50%;
   margin-bottom: 50px;
   margin-top: 50px;

}


h4 {
   text-align: justify;
   width: 50%;
   margin: 0 auto;
   color: #FEFEFE;
}


p {
   text-align: justify;
   margin-bottom: 20px;
   width: 50%;
   margin: 0;
   margin-top: 20px;
}




iframe {
   margin: 0 auto;
   display: block;
   width: 50%;
   height: 50%;
   margin-top: auto;
   margin-bottom: auto;
  
}


.img-fluid {
   margin-bottom: 50px;
   margin-top: 50px;
   margin: 0 auto;
   display: block;
   width: 650px;
   height: 250px;
}


.img-fluid top {
   width: 650px;
   height: 250px;
   margin-bottom: 50px;
   margin-top: 50px;
   margin: 0 auto;
   display: block;
   
}


img {
   width: 50px;
   height: 50px;
   margin-bottom: 50px;
   margin-top: 50px;
   display: block;
   margin: 0 auto;
  
}


section {
   width: 800px;
   height: 500px;
   padding: 50px;
   text-align: justify;
   align-items: center;
   background-color: #11151C;
   margin: 0 auto;
}



.container map {
   color: #FEFEFE;
   width: 1000px;
   height: fit-content;


}



.img-fluid-top {
   width: 1200px;
   height: 500px;
   margin: 0 auto;


}


.text-small {
   font-size: 17px;
}


.text-lessbold {
   font-weight: 300;
}

.text {
   font-weight: 600;
}


.img-fluid-chart {
   width: 500px;
   height: 300px;
}


.container-four-graphs {
   background-color: #11151C;
   width: 1200px;
   height: 400px;
   margin: 0 auto;
}


.img-fluid-last {
   margin: auto;
   margin-top: 10px;
   width: 250px;
   height: 250px;
   text-align: justify;
  
}


li {
   font-size: 8px;
   text-align: justify;
   color: #FEFEFE;

}


.img-fluid-breakup {
   margin: 0 auto;
   width: 700px;
   height: 400px;

}

footer {
   background-color: #FEFEFE;
   font-style: italic;
}

a {
   color: #B82B26;
}