@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
   font-family: 'Montserrat';
   background-color: #e695c0;
   margin: 10px 20px;
   font-size: 17px
}


.container {
   width: 45%;
   padding: 20px 0;

}

header img {
   width: 650px;
   margin: 50px 0;
   margin: 0 auto;
   display: block;

}

p {
   text-align: justify;
}

header p,
h1 h2 {
   text-align: center;
}


h1 {
   letter-spacing: 2px;
   font-weight: 600;


}


h2 {
   font-weight: 300
}

h3 {
   margin: 50px 0;
}


a {
   color: #2661b8;
}


section {
   margin: 50px 0;
}

.pink {
   background-color: rgb(239, 6, 130);
   padding: 20px;
   margin: 20px 0;
}


footer p {
   text-align: center;
   font-style: italic;
}

twitter-tweet {
   margin: 0 auto;
   display: block;

}


iframe {
   height: 50%;

}


.img-fluid {
   margin-bottom: 50px;
   margin-top: 50px;
   margin: 0 auto;
   display: block;
   width: 650px;
   height: 250px;
}

@media (max-width:550px) {
   .container {
      width: 95%;
   }
}